@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #252525;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

::-moz-selection {
  color: #fff;
  background: #0079FF;
}

::selection {
  color: #fff;
  background: #0079FF;
}